#socialMedia {
	float: right;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;	
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px; 
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px; 
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px; 
}



#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px; 
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px; 
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px; 
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px; 
}


body {
    width: 950px;
    margin: 0 auto; /*centers our container on the page */   
	font-size: 12px;
	line-height: 17px;
	font-family: 'Times New Roman', serif;
	color: black;
}

nav {
    background-color: black;
    padding: 20px;
    color: white;
    width: 100%;
}

nav a {
    padding: 0 10px;
}

.logo {
    margin: 15px 0;
}

.main-div {
    border-style: inset;
}

.home-box {
    width: 28%;
    display: inline-block;
    margin: 18px;
}

.home-box a {
	color: #199bd9;
    text-decoration: none;
}

footer {
	
    background-color: black;
}

.footer-container {
	display: inline-flex;
    width: 100%;
}

footer div {
	width: 20%;
	margin: 10px 20px;
}

footer .text-widget {
	width: 35%;
}

footer h2 {
	color: white;
}

footer p {
	margin: 0;
	color: #656565;
}

footer hr {
	border-width: 0.1px;
    color: #656565;
    opacity: 40%;
}

.footer-caption {
	margin: 0 380px;
    width: 100%;
}

.footer-p {
	width: 200px;
}

footer span {
	color: #199bd9;
}