<h2>Search information about books of your choice!</h2>

<form action="/info">
    <label>
        <h3>Book Title</h2>
        <input name="book_name" placeholder="Jaws" required>
    </label>
    <label>
    <h3>_____________________</h3>
    <button>Show me the juice!</button>
    </label>
</form>