#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  /* background-color: rgb(109, 0, 121); */
  background-image: url('../image.jpg');
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background-color: rgba(69, 68, 68, 0.906);
  min-height: 80vh;
  z-index: 1;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

img {
  width: 200%;
  max-width: 250px;
}

ul {
  text-align: left;
}

li {
  list-style-type: none;
  padding: 5px;
}

span {
  color: rgb(7, 233, 236);
}

input {
  margin: 20px auto;
}