<h1>New Company</h1>

<form action="/companies" method="post">

    <label>
        Company
        <input name="name" placeholder="Volkswagen" required>
    
    </label>

    <label>
        Image
        <input name="image" placeholder="https//....jpg">
    
    </label>

    <button>Add Company</button>

</form>