<h1>All companies</h1>

<% @companies.each do |company| %>
    <% unless company.name == ""%>
        <p>
            <a href="/companies/<%= company.id %>">
                <%= company.name%>
            </a>
        </p>
    <% end %>
<% end %>