* {
    box-sizing: border-box;
  }

  @import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,600;1,200&display=swap');
  
  body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    margin: 0;
    font-family: 'Saira', sans-serif;
  }
  
  .navs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navs li {
    margin-left: 1rem;
    font-family: 'Saira', sans-serif;
  }
  
  .navs a {
    color: #fff;
    text-decoration: none;
  }
  
  .navs a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 960px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  section {
    display: inline-block;
    width: 60%;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  
  h2 {
    font-size: 2rem;
    margin: 0; 
    font-family: 'Saira', sans-serif;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-top: 35px;
  }

  .wrap {
    display: flex;
    margin-right: 25px;
    height: 283.5px;
    flex-direction: column;
    float: left;
  }

  .profile {
    height: 250px;
    width: 220px;
    padding: 0px;
    display: block;
    text-align: left;
    margin: 5px;
  }

  .credit {
    display: block;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    font-size: 11px;
    text-align: center;
    margin-top: 0;
    padding-left: 80px;
  }

  .paragraphs { 
    text-align: justify;
    font-size: 18px;
    line-height: 1.5rem;
  }

  .paragraphs > p:first-child::first-letter {
    font-size: 2.5rem;
  }

  aside {
    display: inline-block;
    width: 35%;
    height: 520px;
    vertical-align: top;
    padding: 1em;
    background-color: beige;
    margin-top: 105px;
  }

  h3 {
    font-family: 'Saira', sans-serif;
    text-align: center;
  }

  .books {
    padding-left: 18px;
  }

  .books li{
    font-size: 15px;
    padding-top: 15px;
    line-height: 1rem;
  }

  .books a{
    color:darkgoldenrod;
  }
