@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Jost:wght@300;600&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #fff;
    margin: 0px;
    padding: 0;
    font-family: 'Jost', sans-serif;
    
}

main>img {
    width: 500px;
}

.a {
    color: black;
}

main>p {
    font-family: 'Inconsolata', monospace;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(241, 239, 239);
    padding: 1em;
    padding-top: 3em;
    /* border-radius: 1em; */
}

header {
    position: relative;
    height: 90px;
    background-color: #6a6a6a;
    color: #fff;
    padding: 5px;
    /* text-align: center; */
}

h1 {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 335px;
   
}

nav {
    text-align: right;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    
}

nav ul {
    position: absolute;
    height: 80px;
    width: 140px;
    right: 5px;
    border-top: 1px solid #ccc;
    padding: 3px;
    padding-right: 5px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

nav li {
    list-style-type: none;
    font-size: 15px;
}

.onpage {
    text-align: left;
}

.onpage ul {
    padding-top: 7px;
    left: 5px;
    padding-right: 40px;
    padding-left: 5px;
    
    padding-bottom: 3px;
    border-right: 0;
    border-left: 1px solid #ccc;
}

.onpage li {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #ffffff;
    width: 50px;
}

a:hover {
    padding: 1px;
    padding-right: 3px;
    padding-left: 3px;
    text-decoration: underline;
    border: 1px solid rgba(255, 0, 0, 0.2);
    background-color: black;
    transition: 1s all;
}

.a:hover {
    background-color: white;
}

.cooldude {
    width: 500px;
}

main {
    width: 60%;
    display: inline-block;
}

aside {
    display: inline-block;
    width: 300px;
    height: 1000px;
    vertical-align: top;
    background-color: rgb(0, 0, 0, 0.9);
    margin: 0;
    margin-left: 20px;
    padding-top: 0px;
    text-align: right;
    color: #ddd;
    padding-right: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

aside>img {
    padding-left: 7px;
}

.cooldude {
    width: 290px;
}

h4 {
    padding-top: 70px;
}




footer {
    background-color: #6a6a6a;
    color: white;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    padding-left: 30px;
    line-height: 30px;
    border-style: 1px dashed red;
}
