/* body{
    background-image: url("img/b-gimg2");
} */

/* body{
    background-color: aquamarine; */
/* } */

body{
    background-color: #c2eaba;
background-image: linear-gradient(319deg, #c2eaba 0%, #c5f4e0 37%, #efc2cf 100%);

}
