<h1>New Graphics card</h1>

<form action="<%= graphics_path %>" method="post">

    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Release date:
        <input name="release">
    </label>

    <label>
        Bus:
        <input name="bus">
    </label>

    <label>
        Memory Size:
        <input type="number" name="memory_size">
    </label>

    <label>
        Memory Type:
        <input name="memory_type">
    </label>

    <label>
        Gpu Clock:
        <input type="number" name="gpu_clock">
    </label>

    <label>
        Memory Clock:
        <input type="number" name="memory_clock">
    </label>

    <button>Create Graphics card</button>
</form>