/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
body {
	margin: 0 auto;
	width: 950px;
}


h1 {
	color: rgb(165, 165, 165);
	font-weight: bold;
}

.link {
	color: rgba(0, 166, 255, 0.901);
	text-decoration: none;
}
h2 {
	font-weight: bold;
	color: rgb(165, 165, 165);
}

p {
	display:block;
}
/* h3 {
	font-weight: 100;
	font-size: 1em;
	color: rgba(0, 166, 255, 0.901);
} */



h4 {
	font-weight: 100;
	color: rgb(165, 165, 165);
	font-size: 1.02em;
	display: block;

}

footer {
	color: rgb(165, 165, 165);
	font-size: x-small;
}

#bottom {
	padding
}