

/*-----------------------------------------------------------------------------
01 BODY 
-----------------------------------------------------------------------------*/

body {
	margin: 20px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #7f7d78;
	font-size: 13px;
	line-height: 1.1;
	background: #FFF;
}

#logo {
    width: 40%;
    margin: 0 0 -55px 0;
}

.banner {
    width: 100%;
    margin: 0 0 -3px 0;
}

.container {

	width: 80%;
	margin: 0 auto; /*centers our container on the page */   
}

/*---------------------------------------------------------------------------- 
=02 HEADERS
-----------------------------------------------------------------------------*/


#header {
	padding: 20px 0px;
    background-color: rgb(190, 190, 190);
    background-position: 100%;
}


/* SOCIAL MEDIA */

#socialMedia {
	float: right;
}

#socialMedia ul li {
	 display:inline-block;
	 width:60px;
	 height:60px;
	 background:blue;	
	 text-indent:-9999em;
}

#socialMedia ul li.linkedIn {
	background:url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
	background:url(../images/socialNav.png) -60px 64px; 
}

#socialMedia ul li.facebook {
	background:url(../images/socialNav.png) -120px 64px; 
}

#socialMedia ul li.rss {
	background:url(../images/socialNav.png) -180px 64px; 
}



#socialMedia ul li.linkedIn:hover {
	background:url(../images/socialNav.png) 0px 0px; 
}

#socialMedia ul li.twitter:hover {
	background:url(../images/socialNav.png) -60px 0px; 
}

#socialMedia ul li.facebook:hover {
	background:url(../images/socialNav.png) -120px 0px; 
}

#socialMedia ul li.rss:hover {
	background:url(../images/socialNav.png) -180px 0px; 
}


/*----------------------------------------------------------------------------- 
=06 MISC 
-----------------------------------------------------------------------------*/

.imgright {
	float: right;
	margin: 0 0 10px 10px;
}