@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Fasthand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    /* background-color: black; */
    background: rgb(34,193,195);
    background: linear-gradient(354deg, rgba(34,193,195,1) 0%, rgba(46,44,39,0.7) 49%);   
    background-repeat: no-repeat;
    color: white;
    font-family: 'EB Garamond', serif;

}
#container {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background-color: rgba(16, 8, 8, 0.766);
    padding: 10px;
    border-bottom: 1px solid gray;
    text-align: center;
}

.nav-li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.nav-li > a {
    color: white;
    text-decoration: none;
    padding: 0 6.5em;
}

.nav-li > a:hover {
    color: gray;
    transition: .5s;
}

header {
    margin-top: 1em;

}
#header-img {
    display: block;
    width: 32em;
    border-radius: 10%;
    margin: 0 auto;
    box-shadow: 0px 0px 49px 7px rgba(0,0,0,0.94);
}
.header-text {
   text-align: center;
   padding-top: 25px;
   
}
header > h2 {
    font-family: 'Fasthand', cursive;
}
header > p {
    /* text-decoration: underline; */
    border-bottom: 1px solid white;
    padding: 2px;
}
main {
    display: inline-block;
    width: 75%;
    margin: 5px;
    height: 21em;

}
main > p {
    padding: 10px;
    word-spacing: 10px;
}
aside {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    height: 21em;
    text-align: center;
    margin-top: 60px;
}
aside ul {
    list-style: none;
    padding: 20px;
    
}
.aside-li {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: rgb(3, 5, 36);
    border-bottom: 1px dashed rgb(72, 66, 66);
    padding-bottom: 5px;
    padding-top: 5px;
} 
footer {
    height: 50px;
    background-color: rgba(16, 8, 8, 0.766);
}
footer > p {
    font-size: 8px;
    padding: 20px;
}
footer > p span {
    color: rgb(92, 180, 234);
}