<h1>New Car</h1>

<form action="/cars" method="post">

    <label>
        Make:
        <input name="make" placeholder="Volkswagen" required>
    
    </label>
    <label>
        Model:
        <input name="model" placeholder="Golf" required>
    
    </label>
    <label>
        Body:
        <input name="body" placeholder="SUV" required>
    
    </label>
    <label>
        Color:
        <input name="color" placeholder="Red" required>
    
    </label>
    <label>
        Year:
        <input name="year" placeholder="2021" required>
    
    </label>
    <label>
        Kilometres:
        <input name="kilometres" placeholder="120000" required>
    
    </label>
    <label>
        Transmission:
        <input name="transmission" placeholder="manual" required>
    
    </label>
    <label>
        Engine:
        <input name="engine" placeholder="2.0" required>
    
    </label>
    <label>
        Image:
        <input type="url" name="image" placeholder="https://...jpg">
    
    </label>

    <button>Create Car</button>

</form>