<h1>Car models and respective information</h1>

<p>This website shows information about cars and you can edit the database to add your own information</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis labore nam repellat quis sed repudiandae non dolores dignissimos amet voluptates itaque voluptate atque, nesciunt at cumque veniam tempora illum dolore?</p>

<img src="https://i.imgur.com/W1cmRO7.jpg" alt="Rivian R1T">
