@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&display=swap');
* {
    box-sizing: border-box;
}
body {
    /* 123 expands to #112233 */
    background-color: #222;  /*222222*/
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    background-color: black;
    width: 60em;
    text-align: center;
    display: block;
    padding: 1em;
    position: fixed;
}
nav a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 0 1em;
    font-family: 'Cormorant Garamond', serif;
}
.container {
    max-width: 960px; 
    margin: 0 auto; 
    background-color: #ccc;
}
.header {
    background-color: #ccc;
    padding: 35px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.header img {
    border-radius: 2em;
    /* border: 5px solid #ccc; */
    width: 98%;
    margin-top: 53px;
    box-shadow: 0px 15px 15px black
}
.header p {
    display: inline-block;
    margin-left: 1em;
    font-family: 'Cormorant Garamond', serif;
}
aside {
    font-family: 'Cormorant Garamond', serif;
    margin-left: 1.5em;
    vertical-align: top;
    border: 3px solid black;
    height: 39em;
    margin-top: 3em;
    padding: 1em;
    box-shadow: 0px 15px 15px black;
}
aside h1 {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}
a:hover {
    color: grey;
}
p {
    max-width: 950px;
    padding: 6px;
    margin: 0 auto;
}